<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<title>Travel Agency</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header id="header">
	<div class="center">
		<h1 class="logo">Travel Agency</h1>
		<nav class="link">
			<h2 class="none">website navigate</h2>
			<ul>
				<li class="active" ><a href="index.html">Home</a></li>
				<li><a href="information.html">Travel<span class="xs-hidden"> Info</span></a></li>
				<li><a href="ticket.html">Ticket<span class="xs-hidden"> Order</span></a></li>
				<li><a href="scenery.html">Scenery<span class="xs-hidden"> Show</span></a></li>
				<li><a href="about.html"><span>About</span></a></li>
			</ul>
		</nav>
	</div>
</header>

 <!-- 搜索区 -->
	<div id="adver">
		<img src="../images/adver.jpg" alt="">
		<!-- <div class="center"></div> -->
		<div class="center copy">  <!-- 为了使input和button的大小也能自适应 -->
			<input class="search" type="text" placeholder="Please enter the city" maxlength=15>
		<button class="button">Search</button>
		</div>
		
	</div>

<!-- 图文区 -->
	<div id="tour">
      <section class="center">
    	<h2>Hot Tour Area</h2>
    	<p>Domestic Tour  Oversea Tour  Self-service Tour  Self-driving Tour  Theme Tour and so on</p>
      </section>
		<figure>
				<img src="../images/tour1.jpg" alt="tour1">
				<figcaption>
				<div class="tour_title">
					<strong class="title">&lt;Bangkok&gt;</strong>Enjoy the discount if you join in a group
                </div>
		<div>
			<em class="sat">CACSI 77%</em>
			<span class="price">¥ <strong>2864</strong></span>
		</div>
		<div class="type">Domestic line</div>	
		</figcaption>
		</figure>

		<figure>
			<img src="../images/tour2.jpg" alt="tour2">
			<figcaption>
				<div class="tour_title"><strong class="title">&lt;Maldives&gt;</strong>Set off from Shanghai</div>
			<div>
				<em class="sat">CACSI 97%</em>
				<span class="price">¥ <strong>8039</strong></span>
			</div>
			<div class="type">Oversea line</div>
			</figcaption>
		</figure>
		
        <figure>
			<img src="../images/tour3.jpg" alt="tour3">
			<figcaption>
				<div class="tour_title"><strong class="title">&lt;Hainan
			&gt;</strong>This item includes full cost</div>
			
		<div>
			<em class="sat">CACSI 90%</em>
			<span class="price">¥ <strong>2709</strong></span>
		</div>
			<div class="type">Self-service</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../images/tour4.jpg" alt="tour4">
			<figcaption>
				<div class="tour_title"><strong class="title">&lt;Osaka-Tokyo&gt;</strong>Summer holiday lines
			    </div>
		<div>
			<em class="sat">CACSI 97%</em>
			<span class="price">¥ <strong>9499</strong></span>
		</div>
		<div class="type">Self-service</div>
		    </figcaption>
		</figure>
		<figure>
				<img src="../images/tour5.jpg" alt="tour5">
				<figcaption>
					<div class="tour_title">
						<strong class="title">&lt;Germany 3 days tour&gt;</strong>Cover the main and popular spots
				    </div>
		<div>
		   <em class="sat">CACSI 97%</em>
			<span class="price">¥ <strong>9199</strong></span>
		</div>
		<div class="type">Domestic line</div>
		</figcaption>
		</figure>
		<figure>
			<img src="../images/tour6.jpg" alt="tour6">
			<figcaption>
				<div class="tour_title">
					<strong class="title">&lt;Bali island&gt;</strong>Enjoy yourself when sailing 
				</div>
		<div>
			<em class="sat">CACSI 95%</em>
			<span class="price">¥ <strong>6488</strong></span>
		</div>
		<div class="type">Oversea line</div>
		</figcaption>
		</figure>
		<figure>
			<img src="../images/tour7.jpg" alt="tour7">
			<figcaption>
			<div class="tour_title"><strong class="title">&lt;Dubai and Seychelles 5 days tour
			    &gt;</strong>Stay Dubai for 2 days and Seychelles for 3 days
		    </div>
		<div>
			<em class="sat">CACSI 100%</em>
			<span class="price">¥ <strong>9669</strong></span>
		</div>
		<div class="type">Cruise Tourism</div>
		</figcaption>
		</figure>
		<figure>
			<img src="../images/tour8.jpg" alt="tour8">
			<figcaption>
			<div class="tour_title">
				<strong class="title">&lt;Romantic Turkey&gt;</strong>You can enjoy 30% discount at most if you apply now!
			</div>
		
		<div>
			<em class="sat">CACSI 93%</em>
			<span class="price">¥ <strong>9999</strong></span>
		</div>
		<div class="type">Oversea line</div>
		</figcaption>
		</figure>
		<figure>
		<img src="../images/tour9.jpg" alt="tour9">
		<figcaption>
			<div class="tour_title"><strong class="title">&lt;Jiu Zhai Gou Sichuan
		&gt;</strong>Set off from Xiamen, providing free food and accommodation 
		    </div>
		<div>
			<em class="sat">CACSI 100%</em>
			<span class="price">¥ <strong>2284</strong></span>
		</div>
		<div class="type">Domestic line</div>
		</figcaption>
		</figure>
		</div>
  <!-- 底部区域 -->
	<footer id="footer">
 	<div class="top sm-hidden">
 		
 		<div class="block left">
 		    <h2>Cooperative Partner</h2>
				<hr>
				<ul>
					<li>Tu Niu travel network</li>
					<li>Zhi Xing network</li>
					<li>Xie Chen travel network</li>
					<li>China Youth Travel Agency</li>
				</ul>
		</div>
        <div class="block center">
            <h2>Tour Questions</h2>
				<hr>
				<ul>
					<li>How to sign a travel contact?</li>
					<li>What is the standard to dertermine prices?</li>
					<li>What is the tour route quality?</li>
					<li>How to gain the discount?</li>
				</ul>
        </div>
        <div class="block right">
        	 <h2>Contact</h2>
				<hr>
				<ul>
					<li>weibo：weibo.com</li>
					<li>Email：10010@gmail.com</li>
					<li>Address: Xiamen Fujian</li>
				</ul>

        </div>
 	</div>
 	<!-- 分辨率大于768时，版本信息不显示，小于768时隐藏整个top，显示此信息 -->
    <div class="version sm-visible">Client|Mobile|PC</div>
    <div class="bottom">
			Copyright © Xiada Travel Agency | Number 1001 | <span class="sm-hidden">Permission Number：1002</span>
    </div>
 </footer>

</body>
</html>